<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="trackerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="trackerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="trackerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="trackerApp" class="no-js" ng-cloak> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rogers Wireless Chat tracker</title>


        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


        <!--Bootstrap --> 
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>


        <!--Custom Css -->

        <link href="css/custome.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!--Navigation Bar -->

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="img-responsive" alt="Brand" src="img/wlc_logo.png" > 
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <nav class="nav-map">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="#About"> <span class="">Launch Tools</span></a></li>

                        </ul>

                    </nav>
                </div>
            </div>
        </nav>




        <div class="container-fluid">
            <div class="row">


                <!--Start of the notes Section -->
                <div class="col-md-6" ng-controller="NotesController">
                    <div class="grayBorder">

                        <div role="tabpanel" class="">

                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">

                                <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab"><span ng-bind="cxname[0]"></span></a></li>
                                <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><span ng-bind="cxname[1]"></span></a></li>
                                <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab"><span ng-bind="cxname[2]"></span></a></li>
                                <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab"><span ng-bind="cxname[3]"></span></a></li>
                                <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab"><span ng-bind="cxname[4]"></span></a></li>
                                <li role="presentation"><a href="#six" aria-controls="six" role="tab" data-toggle="tab"><span ng-bind="cxname[5]"></span></a></li>
                            </ul>

                            <hr />
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="one">

                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 


                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(0)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[0]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[0]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="22" cols="60" ng-model="noteTextAreas[0]" ng-keyup="formateNotes(event = $event, 0)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy" clip-copy="noteTextAreas[0]">
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(0)" >


                                            </div>
                                        </form>

                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="two">
                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 

                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(1)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[1]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[1]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="21" cols="60" ng-model="noteTextAreas[1]" ng-keyup="formateNotes(event = $event, 1)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy"  clip-copy="noteTextAreas[1]">
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(1)" >

                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="three">

                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 

                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(2)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[2]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[2]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="21" cols="60" ng-model="noteTextAreas[2]" ng-keyup="formateNotes(event = $event, 2)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy" clip-copy="noteTextAreas[2]" >
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(2)" >

                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="four">

                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 

                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(3)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[3]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[3]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="21" cols="60" ng-model="noteTextAreas[3]" ng-keyup="formateNotes(event = $event, 3)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy" clip-copy="noteTextAreas[3]" >
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(3)" >

                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="five">

                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 

                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(4)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[4]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[4]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="21" cols="60" ng-model="noteTextAreas[4]" ng-keyup="formateNotes(event = $event, 4)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy" clip-copy="noteTextAreas[4]" >
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(4)" >

                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="six">

                                    <div class="container-fluid">
                                        <form class="">
                                            <div class="">
                                                <div class="form-group"> 
                                                    <div class="">
                                                        <label class=""> Notes :</label> 

                                                        <select class="form-control"  ng-options="note.title for note in notesList | orderBy:'title' " ng-model="selectedNote" ng-change="addNotes(5)">


                                                        </select>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label class="input-group-addon" ng-bind="textLabel[5]"> </label> 
                                                    <input type="text" class="form-control" placeholder="" ng-model="textInput[5]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control text-justify" rows="21" cols="60" ng-model="noteTextAreas[5]" ng-keyup="formateNotes(event = $event, 5)">
                                                    
                                                
                                                </textarea> 



                                            </div>


                                            <div class="form-group">
                                                <input type="button" title="Copy" class="btn btn-danger" value="Copy" clip-copy="noteTextAreas[5]">
                                                <input type="button" title="Clear" class="btn btn-danger" value="Clear" ng-click="clearNotes(5)" >

                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <!--End of the notes Section -->

                </div>

                <div class="col-md-6">

                    <div class="grayBorder">

                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-pills grayBackground" role="tablist">
                                <li role="presentation" class="active"><a href="#scripts" aria-controls="home" role="tab" data-toggle="tab">Scripts</a></li>
                                <li role="presentation"><a href="#deviceSettingsTab" aria-controls="deviceSettingsTab" role="tab" data-toggle="tab">Device Settings</a></li>
                                <li role="presentation"><a href="#voiceMailTab" aria-controls="voiceMailTab" role="tab" data-toggle="tab">Voice Mail</a></li>
                                <li role="presentation"><a href="#chatPerHourTab" aria-controls="chatPerHourTab" role="tab" data-toggle="tab">Chat Per Hour</a></li>
                                <li role="presentation"><a href="#notes" aria-controls="settings" role="tab" data-toggle="tab">Notes</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!--Start of Scripts tab -->
                                <div role="tabpanel" class="tab-pane active" id="scripts" ng-controller="scriptsController">
                                    <hr />  
                                    <div class="container-fluid">
                                        <div class="text-justify">
                                            <span ng-class="getClass(script.id)" ng-repeat="script in scripts" style="margin: 4px;" ng-click="onClickScriptTitle(script.id, $event, script, $element)" ng-model="isClicked[$index]"> {{script.menuname}} </span>
                                              
                                            
                                            
                                            
<!--                                            <span ng-repeat="test in testData.scripts">{{test.menuname}}  </span>-->
                                                
                                        </div>

                                        <hr />

                                        <div class="form-group"> 
                                            <div class="">



                                                <select class="form-control"  ng-options="script.submenutitle for script in getScriptsTitles() | orderBy:'submenutitle'" ng-model="selectedScript" ng-change="generateScript($index)" >
                                                    <option selected="true">select</option>

                                                </select>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label ng-bind="englishScriptTitle"></label>
                                            <textarea class="form-control text-justify" rows="8" cols="60" ng-model="englishScript">


                                            </textarea>
                                        </div>


                                        <div class="form-group">
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Copy" clip-copy="englishScript" >
                                        </div>



                                        <div class="form-group">

                                            <label ng-bind="frenchScriptTitle"></label>
                                            <textarea id="frenchScriptID" class="form-control" rows="8" cols="60" ng-model="frenchScript">  </textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Copy" clip-copy="frenchScript">
                                        </div>
                                    </div>

                                  
                                </div>




                                <div role="tabpanel" class="tab-pane" id="deviceSettingsTab" ng-controller="DeviceSettingsController">



                                    <hr />  
                                    <div class="container-fluid">
                                        <div>
                                            <span ng-class="getClass($index)" ng-repeat="device in devices" style="margin: 5px;" ng-click="onClickDeviceTitle($index, $event, device)" ng-model="isClicked[$index]"> {{device.make}} </span>

                                        </div>

                                        <hr />

                                        <div class="form-group"> 
                                            <div class="">


                                                <label>Model or OS :</label>
                                                <select class="form-control"  ng-options="os.modelorosname for os in deviceModelOrOs| orderBy:'modelorosname'" ng-model="selectedModelorOs" ng-change="generateIssues($index)" >
                                                    <option selected="true">select</option>

                                                </select>

                                            </div>

                                        </div>

                                        <div class="form-group"> 
                                            <div class="">


                                                <label>Issues : </label>
                                                <select class="form-control"  ng-options="os.issue for os in getIssues()| orderBy:'issue '" ng-model="selectedIssue" ng-change="generateSteps($index)" >
                                                    <option selected="true">select</option>

                                                </select>

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label ng-bind="englishStepsTitle"></label>

                                            <textarea class="form-control text-justify" rows="8" cols="60" ng-model="englishSteps">


                                            </textarea>
                                        </div>


                                        <div class="form-group">
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Copy" clip-copy="englishSteps" >
                                        </div>



                                        <div class="form-group">

                                            <label ng-bind="frenchStepsTitle"></label>
                                            <textarea id="frenchScriptID" class="form-control" rows="8" cols="60" ng-model="frenchSteps">  </textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Copy" clip-copy="frenchSteps">
                                        </div>

                                    </div>


                                </div>
                                <div role="tabpanel" class="tab-pane" id="voiceMailTab">
                                    <div class="container-fluid" ng-controller="VoiceMailTabController">

                                        <!--VoiceMail box -->
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <hr />
                                                <label>VM Box :</label>

                                                <select class="form-control"  ng-options="box.boxDesc for box in vmBox" ng-model="selectedVmNode" ng-change="generateRetrievalNo($index)" >
                                                    <option selected="true">select</option>

                                                </select>

                                                <label class="btn btn-danger" style="margin: 10px" clip-copy="selectedVmNode.retNoCopy" ng-show="selectedVmNode.retNoCopy" >{{selectedVmNode.retNoCopy}}</label>


                                            </div>
                                        </div>

                                        <!--VoiceMail settings for iOS -->
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <label class="margin10px labelFont label label-info">iOS</label>

                                                <select class="form-control margin10px" 
                                                        ng-options='step.name for step in vmIosSteps'

                                                        ng-model="iosVM" ng-change="generateIosText()">

                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-inline">
                                            <div class="form-group">

                                                <textarea cols="45" rows="3" class="form-control" ng-model='iOsVmSteps'></textarea>


                                                <input type="button" title="Copy" class="btn btn-danger margin10px" value="Copy" clip-copy="iOsVmSteps">

                                            </div>
                                        </div>
                                        <!--.VoiceMail settings for iOS -->



                                        <!--VoiceMail settings for iOS -->
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <label class="margin10px labelFont label label-info">Android</label>

                                                <select class="form-control margin10px" ng-options='andStep.name for andStep in vmAndroidSteps' ng-model='andVmStep' ng-change="generateAndroidStep()">

                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-inline">
                                            <div class="form-group">

                                                <textarea cols="45" rows="3" class="form-control" ng-model="androidSteps"></textarea>


                                                <input type="button" title="Copy" class="btn btn-danger margin10px" value="Copy" clip-copy="frenchSteps">

                                            </div>
                                        </div>
                                        <!--.VoiceMail settings for iOS -->


                                        <!--VoiceMail settings for iOS -->
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <label class="margin10px labelFont label label-info">Blackberry</label>

                                                <select class="form-control margin10px">
                                                    <option selected="true">os 10</option>
                                                    <option>os 6/7</option>
                                                    <option>os 5 and earlier</option>
                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-inline">
                                            <div class="form-group">

                                                <textarea cols="45" rows="3" class="form-control"></textarea>


                                                <input type="button" title="Copy" class="btn btn-danger margin10px" value="Copy" clip-copy="frenchSteps">

                                            </div>
                                        </div>
                                        <!--.VoiceMail settings for iOS -->

                                        <!--VoiceMail settings for iOS -->
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <label class="margin10px labelFont label label-info">Windows</label>

                                                <select class="form-control margin10px">
                                                    <option selected="true">Win 8</option>
                                                    <option>Win 7</option>
                                                    <option>Nokia Lumia</option>
                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-inline">
                                            <div class="form-group">

                                                <textarea cols="45" rows="3" class="form-control"></textarea>


                                                <input type="button" title="Copy" class="btn btn-danger margin10px" value="Copy" clip-copy="frenchSteps">

                                            </div>
                                        </div>
                                        <!--.VoiceMail settings for iOS -->


                                        <!--VoiceMail settings for iOS -->
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <label class="margin10px labelFont label label-info">Other</label>

                                                <select class="form-control margin10px">
                                                    <option selected="true">Wireless HomePhone</option>

                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-inline">
                                            <div class="form-group">

                                                <textarea cols="45" rows="3" class="form-control"></textarea>


                                                <input type="button" title="Copy" class="btn btn-danger margin10px" value="Copy" clip-copy="frenchSteps">

                                            </div>
                                        </div>
                                        <!--.VoiceMail settings for iOS -->


                                        <hr />
                                    </div>

                                </div>

                                <!--Chat Per hour Tab -->
                                <div role="tabpanel" class="tab-pane" id="chatPerHourTab" ng-controller="ChatPerHourController">
                                    <hr />  
                                    <div class="container-fluid">

                                        <div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr class="success">
                                                        <td>Date</td>
                                                        <td>Logged In Time</td>
                                                        <td>Sessions</td>
                                                        <td>CPH</td>
                                                    </tr>

                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>{{today| date:'yyyy-MM-dd'}}</td>
                                                        <td>{{todayLogIntime}}</td>
                                                        <td>{{todaySession}}</td>
                                                        <td>{{todayCPH}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{yesterday | date:'yyyy-MM-dd'}}</td>
                                                        <td>{{yestedayLoginTime}}</td>
                                                        <td>{{yestedaySession}}</td>
                                                        <td>{{yestedayCPH}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td>{{dayBeforeYesterday| date:'yyyy-MM-dd'}}</td>
                                                        <td>{{dayBeforeYesterdayLogintime}}</td>
                                                        <td>{{dayBeforeYesterdaySession}}</td>
                                                        <td>{{dayBeforeYesterdayCPH}}</td>
                                                    </tr>


                                                </tbody>

                                            </table>

                                        </div>

                                        <div class="form-group">

                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Refresh" ng-click="clearNotesTab()">
                                        </div>
                                    </div>
                                </div>

                                <!--Notes Tab -->
                                <div role="tabpanel" class="tab-pane" id="notes">
                                    <hr />  
                                    <div class="container-fluid" ng-controller="NotesTabController">
                                        <div class="form-group">

                                            <textarea class="form-control" rows="30" cols="60"  ng-model="notesTabText">

                                            </textarea>



                                        </div>

                                        <div class="form-group">
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Copy" clip-copy="notesTabText" >
                                            <input type="button" title="Copy/Save" class="btn btn-danger" value="Clear" ng-click="clearNotesTab()">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>




        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        -->
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-sanitize.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-route.js"></script>
      
         <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-resource.js"></script>
        
        <!-- External Library -->

        <script src="bower_components/ng-clip/src/ngClip.js" type="text/javascript"></script>
        <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js" type="text/javascript"></script>


        <!--Custom Angular Component -->
        <script src="js/app.js" type="text/javascript"></script>

        <!-- Controllers -->
        <script src="js/controllers/NotesController.js" type="text/javascript"></script>
        <script src="js/controllers/NotesTabController.js" type="text/javascript"></script>
        <script src="js/controllers/ScriptsController.js" type="text/javascript"></script>
        <script src="js/controllers/DeviceSettingsController.js" type="text/javascript"></script>

        <script src="js/controllers/VoiceMailTabController.js" type="text/javascript"></script>
        <script src="js/controllers/ChatPerHourController.js" type="text/javascript"></script>
        
        
        <!-- Services -->
        <script src="js/services/FrenchParserService.js" type="text/javascript"></script>
        <script src="js/services/ReadFileService.js" type="text/javascript"></script>
        <script src="js/services/jsonFilesService.js" type="text/javascript"></script>

        <script src="js/services/testFactory.js" type="text/javascript"></script>
        
        <!--Other library -->
        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    </body>

</html>
